<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Thanks for Review</title>
<style>
body
{
background-color:#B2BEB5;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding:8px;
   background-color: #ccc;
   color: white;
   text-align: center;
}
</style>
</head>
<body><br><br><br><br>
<center><h1 align="center">Thanks for The Review!!!</h1></center>
<div class="footer">
  <footer style="color:black;font-weight:600;">&copy; Copyright 2020 MVK</footer>
</div>
</body>
</html>